body {
  background-image: url ("scarf_1.jpeg");
  background-color: white;
  margin: 0;
  padding: 0;
  width: 100%;
  
}

nav {
  height: 80px;
  top: 0;
  position: fixed;
  background-color: lightsalmon;
  width: 100%;
  z-index: 10;

  
}

nav a {
  text-decoration: none;
 
  
}

nav a:hover {
  background-color: black;
}


.logo {
  position: absolute;
  top: 5px;
  height: 50px;
  z-index: 4;
}

.navigation {
  font-family: Arial;
  color: seashell;
  list-style: none;
  display: flex;
  display: row wrap;
  justify-content: flex-end;
}

.navigation a {
  color: white;
  text-decoration-style: none
}

a {
  font-style: none;
}

.navigation li {
  padding-right: 50px;
  font-size: 1.5rem;
}

.opening-image {
  background-image: url("images/muhammad-haikal-sjukri-454772-unsplash-min.jpg");
  background-image: cover;
  background-image: no-repeat;
  height: 800px;
  width: 100%;
  text-align: center;
  display: flex;
  margin: 0 auto;
}

h1 {
  font-family: Arial;
  color: seashell;
}

.banner h3 {
  font-family: Arial;
  color: seashell;
}

.banner {
  margin-top: 300px;
  height: 120px;
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h3 {
  text-align: center;
}

.hijab-row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.hijab-row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.hijab-row3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}

.hijab-image img {
  height: 300px;
  width: 300px;
}

.hijab-image {
  border: 1px solid black;
}

.hijab-image:hover {
  background-color: rgb(132, 0, 255);
}

.location-container {
  background-image: url("images/photo-1526047932273-341f2a7631f9.jpg");
  background-image: cover;
  height: 550px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.location-image h1 {
  font-family: Arial;
  color: seashell;
  text-align: center;
  padding-top: 75px;
}

.location-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.location-post {
  height: 300px;
  width: 300px;
  background-color: black;
  font-family: Arial;
  color: seashell;
  text-align: center;
  border-radius: 50px;
}

#location {
  color: crimson;
}

.btn {
  border: 2px solid red;
  margin: 10px;
  padding: 15px 32px;
  background-color: palevioletred;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.hijab-style {
  font-size: 25px;
}

.heading {
  margin: 5px;
  font-size: 30px;
}

#main {
  font-size: 40px;
}

button:hover {
  background-color: red;
  color: white;
}

footer {
  padding-top: 100px;
  height: 200px;
  width: 100%;
  background-color: black;
  color: seashell;
  text-align: center;
}

footer a {
  color: seashell;
}

#submit:hover {
  background-color: black;
  color: white;
}

.location_post h3 {
  padding: 10px;
}

#total {
  color: black;
}

#inc-dec-input {
  display: flex;
  justify-content: center;
  padding: 40px;
}

#wallet {
  padding: 20px;
  display: flex;
  justify-content: center;
}

#total-amount {
  display: flex;
  justify-content: center;
  padding: 40px;
  background-color: palevioletred;
}

@media screen and (max-width: 800px) {

 
  nav {
    height: 20px;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: lightsalmon;
    width: 100%;
   
  }

body{
  display: flex;
  flex-direction: column;
  margin: 0;
  

}

.hijab-row1{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.hijab-row2{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

hijab-row3{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}






}


@media screen and (max-width: 500px) {

 
  nav {
    height: 20px;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: lightsalmon;
    width: 100%;
   
  }

body{
  display: flex;
  flex-direction: column;
  margin: 0;
  

}

.hijab-row1{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.hijab-row2{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

hijab-row3{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}






}